/* Defining the specific structure and styling of the sign-up pages */

body {
  overflow: scroll;
}

#mainOne h3 {
  text-shadow: 0 0 8px #333;  /* horizontal(pos=right, new=left) vertical(pos=down, neg-up) blur colour */
}

.btn_tweetUs h3 {
  margin-top: 2.8rem;
  text-shadow: 1px 2px 2px black;
}

#mainThree h3 {
  color: black;
}

.circle h4 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.rectangle h4 {
  margin-bottom: 1.5rem;
}

header a {
  text-decoration: underline;
  color: white;
  margin-left: 1rem;
}

main {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 24vh;
}

#mainOne {
  /*background-color: #5B5980;*/
  background-color: #9290AA;
}

#mainTwo {
  background-color: #ADACC0;
  padding: 12vh;
}

#mainThree {
  background-color: #C8C8D5;
  padding: 12vh;
}

.tweet img {
  width: 45vw;
  border-radius: 0.5rem;
  margin: 4vh 0;
  box-shadow: 0 0 20px #5B5980;  /* horizontal(pos=right, new=left) vertical(pos=down, neg-up) blur colour */
}

.btn_tweetUs {
  background-image: url("../static/images/tweetUs_placeholder.jpeg");
  background-size: cover;
  background-position: center;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
}
