/* Defining the base structure and styling of the page */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #9290AA;
  height: 100vh;
}

h1 {
  font-family: 'Macondo', cursive;
  font-size: 6rem;
  color: white;
  padding: 4vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 10px #333;  /* horizontal(pos=right, new=left) vertical(pos=down, neg-up) blur colour */
}

h2 {
  font-family: 'Macondo', cursive;
  font-size: 4rem;
  color: white;
  padding: 2rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 8px #333;  /* horizontal(pos=right, new=left) vertical(pos=down, neg-up) blur colour */
}

h3 {
  font-family: 'Macondo', cursive;
  font-size: 2rem;
  color: white;
  padding: 1rem 0;
}

h4 {
  font-size: 1rem;
}

p {
  padding: 0 1.5rem;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

header {
  /*background-color: #5B5980;*/
  height: 22vh;
}

main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.circle {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background-color: white;
  margin: 1rem;

  /* horizontal(pos=right, new=left) vertical(pos=down, neg-up) blur colour */
  box-shadow: 0 0 20px #5B5980;
}

.rectangle {
  background-color: white;
  width: 50vw;
  min-height: 16vh;
  margin: 4vh 0;
  padding: 3rem;
  box-shadow: 0 0 20px #5B5980;  /* horizontal(pos=right, new=left) vertical(pos=down, neg-up) blur colour */
  border-radius: 2rem;

  /* Shape of right-pointing arrows */
  /*-webkit-clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0% 100%, 8% 50%, 0% 0%);
  clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0% 100%, 8% 50%, 0% 0%);*/

  /* Shape of rectangles with cut-off corners */
  /*-webkit-clip-path: polygon(8% 0, 92% 0, 100% 20%, 100% 80%, 92% 100%, 8% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(8% 0, 92% 0, 100% 20%, 100% 80%, 92% 100%, 8% 100%, 0% 80%, 0% 20%);*/
}

footer {
  height: 4vh;
  width: 100vw;
  position: relative;
  color: white;
  font-family: 'Lato', sans-serif;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
