<!DOCTYPE html>

<html lang="en">
  <head>
    <title>WomenToTech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="static/about.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Macondo|Lato" rel="stylesheet">
  </head>
  <body>
    <header>
      <h2>WomenToTech</h2>
    </header>
    <main>
      <div class="column">
        <h3>We help self-identifying women in tech find a mentor</h3>
        <div class="row rectangle">
            <p>Prospective mentees and mentors can sign up and create a profile on our platform</p>
            <p>Once you've signed up, you will receive a tweet with your top 3 matches.</p>
            <p>You can also browse through all profiles here on our website.</p>
            <p>See the <a href="/mentee_signup">mentee</a> and <a href="/mentor_signup">mentor</a> sign-up pages for more information about how to sign up.</p>
          </div>
        <h3>It's really easy &#8658 just tweet us!</h3>
      </div>
    </main>
    <footer>
      Created by Eleanor Keane and Madeleine Linder
    </footer>
  </body>
</html>
