<!DOCTYPE html>

<html>
  <head>
    <title>WomenToTech</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="static/signup.css" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Macondo|Lato" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>WomenToTech</h1>
    </header>
    <main>
      <div class="btn" id="about">
        <h3>What we do:</h3>
        <p>We help self-identifying women in tech find a mentor</p>
        <p>Prospective mentees and mentors can sign up and create a profile on our platform</p>
        <p>It's really easy -- just tweet us!</p>
        <p>Once you've signed up, you will receive a tweet with your top 3 matches based on the information you have provided us with.</p>
        <p>You can also browse through all profiles here on our website.</p>
      </div>
    </main>
    <footer>
      Created by Eleanor Keane and Madeleine Linder
    </footer>
  </body>
</html>
