<!DOCTYPE html>

<html>
  <head>
    <title>WomenToTech</title>
    <link rel="stylesheet" href="static/homepage.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Macondo|Lato" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>WomenToTech</h1>
    </header>
    <main>
      <a href="mentee_signup" class="btn" id="menteeSignup"><span class="signup">Sign-up for mentees</span></a>
      <a href="mentor_signup" class="btn" id="mentorSignup"><span class="signup">Sign-up for mentors</span></a>
    </main>
    <footer>
      Created by Eleanombre and Madeleinel
    </footer>
  </body>
</html>
