<!DOCTYPE html>

<html>
  <head>
    <title>WomenToTech</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="static/signup.css" type="text/css">
  </head>
  <body>
    <header>
      <!-- <h2>mentor sign-up</h2> -->
      <h2>All you need to do is tweet us!</h2>
    </header>
    <main>
      <!-- <div class="row">
        <h3>All you need to do is tweet us!</h3>
      </div> -->
      <!-- <h3>A typical tweet could look like this:</h3> -->
      <div class="row">
        <div class="column tweet">
          <img src="../static/images/tweet_mentee_1.png" alt="example mentor tweet #1">
          <!-- Need to create example tweets for the mentors -->
        </div>
      </div>

      <h3>Your tweet should include:</h3>
      <div class="row">
        <div class="column circle">
          <h4>#WomenToTech #Mentor</h4>
          <p>Let us know that you're signing up to our platform as a mentor</p>
        </div>
        <div class="column circle">
          <h4>-langs:</h4>
          <p>Let us know the languages you know</p>
        </div>
        <div class="column circle">
          <h4>-skills:</h4>
          <p>Let us know what other programming skills you have</p>
        </div>
        <div class="column circle">
          <h4>-offer:</h4>
          <p>Let us know what type of help you would be able able to offer your mentee</p>
        </div>
      </div>

      <a href="http://twitter.com/home?status=%23WomenToTech%20%23Mentor%20-langs%3A%20-skills%3A%20-seek%3A%20" target="_blank" class="column circle btn_tweetUs">
        <h3 class="tweetUs">Click here to tweet us now!</h3>
      </a>

      <div class="row">
        <div class="column tweet">
          <img src="../static/images/tweet_mentee_2.png" alt="example mentor tweet #2">
          <!-- Need to create example tweets for the mentors -->
        </div>
      </div>

      <h3>To consider before tweeting</h3>
      <div class="column rectangle">
        <h4>What you can -offer could include:</h4>
        <div class="row">
          <div class="column">
            <h4>Career advice:</h4>
            <p>Work on CV</p>
            <p>Interview prep</p>
            <p>Advice about the industry</p>
          </div>
          <div class="column">
            <h4>Technical advice:</h4>
            <p>Specific questions</p>
            <p>Teaching code</p>
          </div>
          <div class="column">
            <h4>And also:</h4>
            <p>Networking</p>
            <p>Providing resources</p>
          </div>
        </div>
      </div>
      <div class="column rectangle">
        <h4>State everything you can -offer</h4>
        <p>We ask that mentors state everything that they can offer, and mentors state the top three things they are looking for.<br>That way, we can match up mentors with mentors who are best suited for their needs.</p>
      </div>
      <div class="column rectangle">
        <h4>Split your tweets</h4>
        <p>If you have a lot to say, you can split your content into two tweets.<br/>Just make sure you end them with "x/2".</p>
      </div>



                <!-- #WomenToTech
                #mentor / # Mentor
                -langs: state the languages you know / are learning (eg javascript, JavaScript, python)
                -skills: state other skills you have (eg node.js, jinja2)
                -seek: / -offer: state what you are looking to get out of the mentoring relationship (eg career advice, technological skills, help getting started)

                A typical tweet could look like this:
                [image]

                [also include icon to link to Twitter (& possibly pre-written tweet, containing the different section headers)]

                Tips:
                What you are seeking could include:
                Career advice (work on CV, interview prep, advice about the industry, etc)
                Technical advice (eg specific questions, teaching code)
                Tag along to networking events
                Provide resources

                We ask that mentors state everything that they can offer, and mentors state the top three things they are looking for -- that way, we can match up mentors with mentors who are best suited for their needs.

                If you have a lot to say, you can split your content into two tweets: just end your tweet with "1/2" or equivalent -->

    </main>
    <footer>
      Created by Eleanor Keane and Madeleine Linder
    </footer>
  </body>
</html>
