<!DOCTYPE html>

<html>
  <head>
    <title>WomenToTech</title>
    <link rel="stylesheet" href="mentorSignup.css" type="text/css">
  </head>
  <body>
    <header>
      <h1>Mentor Sign-up</h1>
    </header>
    <main>
      <form id="mentor" class="signup">
        <label for="inputName">Your full name</label>
        <input type="name" name="inputName" id="inputName" placeholder="Name" required>
        <label for="inputTwitter">Your Twitter handle</label>
        <input type="twitter" name="inputTwitter" id="inputTwitter" placeholder="Twitter handle" required>
        <label for="inputLanguage">Languages you are profficient in</label>
        <input type="language" name="inputLanguage" id="inputLanguage" required>
        
      </form>
    </main>
    <footer>
      <p>Created by Eleanombre and Madeleinel</p>
    </footer>

    <script src="mentorSignup.js"></script>
  </body>
</html>
