<!DOCTYPE html>

<html lang="en">
  <head>
    <title>WomenToTech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="static/list.css" type="text/css">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oleo+Script" rel="stylesheet">
    <svg display="none">
      <symbol id="twitter-bird" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.00006 244.18703">
        <path d="M94.72 243.18c112.46 0 173.96-93.168 173.96-173.96 0-2.646-.054-5.28-.173-7.903 11.938-8.63 22.314-19.4 30.498-31.66-10.955 4.87-22.744 8.147-35.11 9.625 12.622-7.57 22.313-19.543 26.885-33.817-11.813 7.004-24.895 12.093-38.824 14.84C240.8 8.423 224.916.99 207.326.99c-33.763 0-61.143 27.38-61.143 61.13 0 4.8.537 9.466 1.586 13.942-50.816-2.556-95.875-26.886-126.03-63.88-5.252 9.036-8.28 19.53-8.28 30.73 0 21.212 10.794 39.938 27.208 50.893-10.03-.31-19.454-3.063-27.69-7.646-.01.255-.01.505-.01.78 0 29.61 21.076 54.33 49.052 59.933-5.137 1.4-10.543 2.152-16.122 2.152-3.933 0-7.766-.387-11.49-1.103 7.783 24.293 30.354 41.97 57.114 42.465-20.926 16.402-47.287 26.17-75.937 26.17-4.93 0-9.798-.28-14.584-.845 27.06 17.344 59.19 27.464 93.723 27.464" fill="inherit"></path>
      </symbol>
    </svg>
  </head>
  <body>
    <header>
      <h2>Mentor profiles</h2>
      <div class="homeLink"><a href="/"><h3>WtT</h3></a></div>
    </header>
    <main>
      {% if nomentors == True %}
        <h3>We don't have any registered mentors at this time.<br/>Check back later and follow our Twitter bot for updates!</h3>
      {% else %}

      <div class="column">

        {% for mentor in mentorlist %}
        <div class="row profile">
          <div class="column graphics">
            <div class="photo">
              <img src="../static/images/tweetUs_placeholder.jpeg">
            </div>
            <div class="twitterHandle">
              <p class="main-div-title">@{{ mentor.twitterhandle }}</p>
            </div>
          </div>
          <div class="column content">
            <div class="info">
              <p>Languages: {{ mentor.languages }}</p>
              <p>Skills: {{ mentor.skills }}</p>
              <p>Offering: {{ mentor.offers }}</p>
            </div>
            <div class="contact">
              <a href={{ mentor.originaltweet }} alt="original tweet">original tweet</a>
                <!-- <i class="fa fa-link" aria-hidden="true"></i> original tweet</a> -->
              <br>
              <a href={{ mentor.twitterprofile}} alt="twitter profile">
                <!-- twitter profile -->
                <svg xmlns="http://www.w3.org/2000.svg" class="twitbird">
                  <use xlink:href="#twitter-bird"></use>
                </svg>
                twitter profile
                <!-- <span>twitter</span> -->
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      {% endif %}
    </main>
    <footer>
      Created by Eleanor Keane and Madeleine Linder
    </footer>
  </body>
</html>
