<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mentor List</title>
</head>
<body>
  {% if nomentors == True %}
    <h2>We don't have any mentors at this time, Sorry!! Check back later and follow our twitterbot for updates!</h2>
  {% else %}
  <ul>
    {% for mentor in mentorlist %}
      <li>Mentor {{ [loop.index] }}: {{ mentor.twitter }}, knows {{ mentor.languages }} and can offer help with {{ mentor.offer }}!</li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>
