<!DOCTYPE html>

<html lang="en">
  <head>
    <title>WomenToTech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="static/list.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oleo+Script" rel="stylesheet">
  </head>
  <body>
    <header>
      <h2>Mentee profiles</h2>
      <div class="homeLink"><a href="/"><h3>WtT</h3></a></div>
    </header>
    <main>
      <!-- if no mentors then... -->
        <h3>We don't have any registered mentees at this time.<br/>Check back later and follow our Twitter bot for updates!</h3>
      <!-- otherwise... -->

      <div class="column">

        <div class="row profile">
          <div class="column photo">
            image...
          </div>
          <div class="column info">
            <p>Languages: languages...</p>
            <p>Skills: skills...</p>
            <p>Seeking: seeking...</p>
          </div>
          <div class="column contact">
            contact info...
          </div>
        </div>
      </div>
    </main>


  </body>
</html>
