<!DOCTYPE html>

<html>
  <head>
    <title>WomenToTech</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="static/signup.css" type="text/css">
  </head>
  <body>
    <header>
      <!-- <h2>Mentee sign-up</h2> -->
      <h2>All you need to do is tweet us!</h2>
    </header>
    <main>
      <!-- <div class="row">
        <h3>All you need to do is tweet us!</h3>
      </div> -->
      <h3>Your tweet should include:</h3>
      <div class="row">
        <div class="column circle">
          <h4>Our hashtags</h4>
          <h5>#WomenToTech #Mentee</h5>
          <p>Include this in your tweet to let us know that you are signing up to our platform as a mentee.</p>
        </div>
        <div class="column circle">
          <h4>Languages</h4>
          <h5>-langs:</h5>
          <p>State the languages you know or are currently learning.</p>
          <!-- <p>For example:<br/>"-langs: JavaScript, Python, Haskell"</p> -->
        </div>
        <div class="column circle">
          <h4>Skills</h4>
          <h5>-skills:</h5>
          <p>State other programming skills you have.</p>
          <!-- <p>For example:<br/>"-skills: Node.js, Jinja2"</p> -->
        </div>
        <div class="column circle">
          <h4>Seeking</h4>
          <h5>-seek:</h5>
          <p>State what you are looking to get out of the mentoring relationship.</p>
          <!-- <p>For example:<br/>"-seek: career advice, interview prep, technical advice"</p> -->
        </div>
      </div>
      <h3>A typical tweet could look like this:</h3>
      <div class="row">
        <div class="column">
          <p>Image of tweet here</p>
        </div>
        <div class="column">
          <p>Image of tweet here</p>
        </div>
      </div>
      <h3>Tips and tricks:</h3>
      <div class="row">
        <div class="column circle">
          <h4>Split your tweets:</h4>
          <p>If you have a lot to say, you can split your content into two tweets: just end your tweet with "1/2" or equivalent.</p>
        </div>
        <div class="column circle">
          <h4>State your top three picks:</h4>
          <p>We ask that mentors state everything that they can offer, and mentees state the top three things they are looking for -- that way, we can match up mentees with mentors who are best suited for their needs.</p>
        </div>
        <div class="column circle">
          <h4>What you are seeking could include:</h4>
          <p>Career advice: work on CV, interview prep, advice about the industry</p>
          <p>Technical advice: specific questions, teaching code</p>
          <p>Networking</p>
          <p>Providing resources</p>
        </div>
        <div class="column circle">
          <h4>click here to tweet us now!</h4>
          <p>Include icon to link to Twitter (& possibly pre-written tweet, containing the different section headers)</p>
        </div>
      </div>



      <!-- #WomenToTech
      #Mentee / # Mentor
      -langs: state the languages you know / are learning (eg javascript, JavaScript, python)
      -skills: state other skills you have (eg node.js, jinja2)
      -seek: / -offer: state what you are looking to get out of the mentoring relationship (eg career advice, technological skills, help getting started)

      A typical tweet could look like this:
      [image]

      [also include icon to link to Twitter (& possibly pre-written tweet, containing the different section headers)]

      Tips:
      What you are seeking could include:
      Career advice (work on CV, interview prep, advice about the industry, etc)
      Technical advice (eg specific questions, teaching code)
      Tag along to networking events
      Provide resources

      We ask that mentors state everything that they can offer, and mentees state the top three things they are looking for -- that way, we can match up mentees with mentors who are best suited for their needs.

      If you have a lot to say, you can split your content into two tweets: just end your tweet with "1/2" or equivalent -->





    </main>
    <footer>
      <p>Created by Eleanombre and Madeleinel</p>
    </footer>
  </body>
</html>
